{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="table-data__tool">

    <div class="table-data__tool-right">
        <button class="au-btn au-btn-icon au-btn--green au-btn--small">{{ button_label|default('Save') }}</button>

    </div><h1></h1>
</div>
   {{ form_end(form) }}
